
*.pyc

medialog.leadimagesize.egg-info/dependency_links.txt
medialog.leadimagesize.egg-info

*.gz

medialog/leadimagesize/profiles/.DS_Store

medialog/leadimagesize/.DS_Store

medialog/.DS_Store

docs/.DS_Store

.DS_Store
